<html ng-app="goat" ng-controller="GoatController as goat">
<head>
    <!--<link rel="stylesheet" href="dist/client.min.css">-->
    <!--<script type="text/javascript" src="dist/client.min.js"></script>-->

    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="client.css">

    <script type="text/javascript" src="bower/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="bower/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower/angular/angular.js"></script>
    <script type="text/javascript" src="client.js"></script>
</head>
<body>
    <div class="navbar-fixed-top player-controls">
        <div class="container" style="margin: 10px;">
            <button ng-click="goat.clickedPlay()" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-{{playState}}"></span>
            </button>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Artist</td>
                    <td>Album</td>
                    <td>Song</td>
                </tr>
            </thead>
            <tr>
                <td>{{artist}}</td>
                <td>{{album}}</td>
                <td>{{title}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="debug" ng-include="'partials/debug.html'"></div>
    <div ng-if="nodeWebkit" ng-include="'partials/server.html'"></div>
</body>
</html>