<!DOCTYPE html>
<html ng-app="goat" ng-controller="GoatController">
<head>
    <!--<link rel="stylesheet" href="dist/client.min.css">-->
    <!--<script type="text/javascript" src="dist/client.min.js"></script>-->

    <!--<link rel="stylesheet/less" type="text/css" href="components/vendor/bootstrap/less/bootstrap.less">-->
    <link rel="stylesheet/less" type="text/css" href="components/client.less">

    <script type="text/javascript" src="components/vendor/websocket-stream/websocket-stream.js"></script>
    <script type="text/javascript" src="services/audio-output.js"></script>
    <script type="text/javascript" src="components/vendor/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="components/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="components/client.js"></script>

    <script type="text/javascript" src="components/vendor/less/less.js"></script>
    <script>
        less.modifyVars({
            '@icon-font-path': "'/components/vendor/bootstrap/fonts/'"
        });
    </script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <player player="player" size="m" />
        </div>
    </div>
    <div class="container">
        <table class="table tracklisting">
            <thead>
                <tr>
                    <td class="song">Song</td>
                    <td class="time">Time</td>
                    <td class="artist">Artist</td>
                    <td class="album">Album</td>
                </tr>
            </thead>
            <tr>
                <td>{{song}}</td>
                <td>{{duration}}</td>
                <td>{{artist}}</td>
                <td>{{album}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="debug" ng-include="'components/debug.html'"></div>
    <div ng-if="nodeWebkit" ng-include="'components/server.html'"></div>
</body>
</html>