<!DOCTYPE html>
<html ng-app="goat" ng-controller="GoatController">
<head>
    <!--<link rel="stylesheet" href="dist/client.min.css">-->
    <!--<script type="text/javascript" src="dist/client.min.js"></script>-->

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="client.css">

    <script type="text/javascript" src="vendor/websocket-stream/websocket-stream.js"></script>
    <script type="text/javascript" src="vendor/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="services/audio-output.js"></script>
    <script type="text/javascript" src="client.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <player player="player" size="m" />
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Artist</td>
                    <td>Album</td>
                    <td>Song</td>
                </tr>
            </thead>
            <tr>
                <td>{{artist}}</td>
                <td>{{album}}</td>
                <td>{{title}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="debug" ng-include="'partials/debug.html'"></div>
    <div ng-if="nodeWebkit" ng-include="'partials/server.html'"></div>
</body>
</html>